:root {
    --primary-color: #9d3bd0;
    --black-color: #333;
    --light-color: #f4f0ff;
    --gray-color: #abaab0;
    --light-gray-color: #e8e9e9;
    --button-border-radius: 0.938rem;

    --font-size-xxxl: 3.75rem;
    --font-size-xxl: 3rem;
    --font-size-xl: 2.25rem;
    --font-size-lg: 1.375rem;
    --font-size-md: 1.25rem;
    --font-size-sm: 1.125rem;
    --font-size-xs: 1rem;

    --letter-spacing-sm: 0.5px;
    --letter-spacing-md: 1px;

    --font-poppins: "Poppins", sans-serif;
}