@use '@/app/styles/media-queries.scss'as *;
@use '@/app/styles/mixin'as *;

.registrationPage{
    @include section-style;
    & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
    min-height: 100vh;
    }
    @include desktop-1280 {
        width: auto;
        padding: 0 2rem;
    }
}

.mainText{
    font-size: var(--font-size-xxl);
    font-weight: 400;
    text-align: center;
    @include mobile-590 {
        line-height: 3rem;
    }
}

.container{
    align-self: center;
}

.submitted{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.submitted h2{
    font-size: var(--font-size-xl);
    text-align: center;
}

.checkmark{
    background-color: var(--primary-color);
    border-radius: 100%;
    padding: 1rem;
}

footer{
    text-align: center;
    font-size: var(--font-size-md);
    margin-top: auto;
  padding: 1rem;
}