// .button {
//     background-color: var(--primary-color);
//     font-family: var(--font-poppins);
//     font-size: var(--font-size-md);
//     color: var(--light-color);
//     letter-spacing: var(--letter-spacing-md);
//     border-radius: var(--button-border-radius);
//     padding: 0.625rem 2.1875rem;
//     margin-top: 1rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// .button:hover{
//     background-color: #0000;
//     border: 1px solid var(--primary-color);
//     color: var(--primary-color);
//     transition: all .3s linear;
//     .arrow {
//         fill: var(--primary-color);
//     }
// }
// .arrow {
//     fill: var(--light-color);
//     margin-right: 0.5rem;
// }


.button {
    background-color: var(--primary-color);
    font-family: var(--font-poppins);
    font-size: var(--font-size-md);
    color: var(--light-color);
    letter-spacing: var(--letter-spacing-md);
    border-radius: var(--button-border-radius);
    padding: 0.625rem 2.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
}

.button:hover{
    background-color: #0000;
    color: var(--primary-color);
    transition: all .3s linear;
    .arrow {
        fill: var(--primary-color);
    }
}
.arrow {
    fill: var(--light-color);
    margin: 0 0.5rem;
}