@use '@/app/styles/media-queries.scss'as *;
@use '@/app/styles/mixin'as *;

.wrapper {
    padding: 3rem 5rem;
    background-color: var(--light-color);
    border: 2px solid var(--primary-color);
    border-radius: var(--button-border-radius);
    font-size: var(--font-size-lg);
    
    @include tablet-820 {
        padding: 2rem 0.5rem;
        font-size: var(--font-size-md);
    }
}

.heading{
    font-size: var(--font-size-xxl);
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5rem;

    @include tablet-820 {
        font-size: var(--font-size-xl);
    }
    @include mobile-590 {
      line-height: 2rem;
    }
}

.options {
  display: flex;
  flex-wrap: wrap;
  // display: flex;
  // 
  gap: 0.75rem;
  @include mobile-590 {
    flex-direction: column;
  }
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  width: 48%;
  
  input[type='radio'] {
    accent-color: #2a7ae4;
    transform: scale(1.2);
  }

  @include mobile-590 {
    width: 100%;
  }
}
.tip {
  padding: 0.5rem 0;
  color: var(--gray-color);
  font-size: var(--font-size-xs);
  display: flex;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
        gap: 1rem;
}


